.mainContainer{
    background-color: #C7D2D8;
}
.innerFormContainer{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notifiedMessage{
  
    text-align: left;
    color: rgb(75, 134, 134);
    width: 500px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: -50px;
}

.dropDownContainer{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    
}
.title{
    background-color:#6B8085;;
}
.FormContainer{

}